body {
    font-family: --apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
    color:rgb(214,214,214);
}

* {
    margin:0;
    padding:0;
}



header, footer {
    position: absolute;
    background-color:rgb(48,48,49);
    width:100%;
}

header {
    position: absolute;
    height: 60px;

}

header h2 {
    position: absolute;
    top: 19px;
    left: 5%;
    font-size: 20px;
    margin-left: 10px;
    width: 100%;
}

.nav {
    position: absolute;
    width: 100%
}

.nav a {
    position: relative;
    font-size: 15px;
    top: 23px;
    left: 50%;
    color:rgb(214,214,214);
    text-decoration: none;
    margin-right: 20px; 
}

footer {
    position: relative;
    bottom:0;
    height: 80px;
}

footer h2 {
    position: absolute;
    font-size: 20px;
    left: 5%;
    bottom: 31px;
}

.banner {
    position: relative;
    top: 60px;
    background-color: rgb(242,242,245);
    color:rgb(35,98,200);
    height:80px;
    width: 100%;
    z-index: 3;
}

.banner p {
    position: relative;
    top: 30px;
    text-align: center;
}

.main {
    position: relative;
    top: 0;
    color:rgb(48,48,49);
    background-color:rgb(221, 229, 229);
    height: 525px;
    width: 100%;
}

.main h1 {
    padding-top: 200px;
    text-align: center;
    font-size: 60px;
   
}

.main h2 {
    text-align: center;
    font-size: 60px;
    
}
